baguette
caret
data.table
dials
doParallel
dplyr
gbm
ggpl2
ipred
ISLR
MASS
Matrix
mlr
parallel
parallelMap
pdp
randomForest
ranger
recipes
rpart
rsample
SuperLearner
tictoc
tidymodels
tidyr
tidyverse
tune
vip
workflows
xgboost
yardstick